:root {
  --puple-color: #8d51ff;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url("../../../public/images/bg/star.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  /* border: 1px solid #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a {
  font-size: 25px;
  color: var(--puple-color);
  text-decoration: none;
}

.heart {
  color: white;
  font-size: 10rem;
}

.animate-heartbeat {
  animation: heartbeat 1.5s ease-in-out infinite both;
}

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

.bookmark {
  position: fixed;
  text-align: center;
  left: -180px;
  top: 130px;
}

.bookmark__li:nth-child(1) {
  width: 200px;
  height: 100px;
  border-radius: 25px;
  background-color: white;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
  /* position: absolute; */
  /* top: -300px;
  right: 870px; */
  cursor: pointer;
}

.bookmark__li:nth-child(2) {
  width: 200px;
  height: 100px;
  border-radius: 25px;
  background-color: white;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
  /* position: absolute;
  /* top: -450px; 
  right: 370px; */
  cursor: pointer;
}

.bookmark__li:nth-child(3) {
  width: 200px;
  height: 100px;
  border-radius: 25px;
  background-color: white;
  display:flex;
  justify-content: center;
  align-items: center;
  /* position: absolute;
  top: -150px;
  right: 870px; */
}

.bookmark__li:nth-child(1):hover {
  cursor: pointer;
  animation: first-li-slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes first-li-slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(80px);
  }
}

.bookmark__li:nth-child(2):hover {
  cursor: pointer;
  animation: second-li-slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
}

@keyframes second-li-slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(80px);
  }
}

.bookmark__li:nth-child(3):hover {
  cursor: pointer;
  animation: third-li-slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes third-li-slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(80px);
  }
}
